<div class="card mb-3">
        <div class="card-header" type="button" 
        (click)="isCollapsed=!isCollapsed" 
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="activity.id">
            {{activity.equipment.name }}
        </div> 
        <div class="card-body" [id]="activity.id" [ngbCollapse]="isCollapsed">
            <app-set-list [displayNewSet]="displayNewSet"
                          [sets]="activity.sets"
                          (onSaveRep)="onNewSet($event)"></app-set-list>
            <div class="form-group row mb-2">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-success mr-3"    
                            type="button"
                            (click)="onAddSet(activity)">    
                             Add Set
                    </button>
                    <button class="btn btn-primary mr-3"    
                            type="button"
                            (click)="onSaveSets(activity)">    
                             Save Sets
                    </button>
                    <button class="btn btn-danger mr-3"    
                                type="button"   
                                (click)="onCancel()" 
                                title="Cancel your activity">    
                            Cancel    
                    </button>
                </div>
            </div>
        </div>
    </div>
