<div id="eqp-modal" class="modal">
  <form [formGroup]="equipmentForm"
    (ngSubmit)="saveEquipmentForm()">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col sm12">
            <input id="eqp-name" type="text" formControlName="name">
            <label for="eqp-name" class="active">Equipment Name</label>
          </div>
        </div>
                <div class="row" *ngFor="let sessionType of sessionTypes">
                  <label>
                    <input type="checkbox" 
                      class="filled-in"
                      (change)="onSessionTypeClick($event, sessionType)"
                      [checked]="isSessionSelected(sessionType.id)" />
                    <span>{{sessionType.name}}</span>
                  </label>
                </div>
        </div>
    </form>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat" (click)="saveEquipmentForm()">Save</a>
    </div>
</div>