
    <ul class="collapsible popout">
        <li *ngIf="addActivity && unfilteredList && unfilteredList.length > 0">
            <div class="collapsible-header">
                New Activity
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="eqip-list-filter" [(ngModel)]="listFilter" type="text">
                        <label for="eqip-list-filter">Filter By</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="collection collection-border">
                            <a class="collection-item" style="cursor: pointer;" (click)="onSaveActivity(eqp.id)" *ngFor="let eqp of filteredListOfItems">{{eqp.name}}</a>
                        </div>
                    </div>
                </div>
                <!-- add btn for cancel and add new which routes -->
                <a style="margin-right: 10px;" class="waves-effect waves-light btn" [routerLink]="['/sessions/equipment']">New Equipment</a>
                <a class="waves-effect waves-light btn" (click)="onResetAddActivity(false)">Cancel</a>
            </div>
        </li>
        <li *ngFor="let activity of activities"
                app-activity-detail 
                        [activity]="activity"
                        [sessionDate]="sessionDate"
                        [sessionId]="sessionId"
                        [sessionType]="sessionType"
                        (onDeleteActivity)="onDeleteActivity($event)">
        </li>
    </ul>

