
    <ul class="collapsible popout">
        <li *ngIf="addActivity && equipment && equipment.length > 0">
            <div class="collapsible-header">
                New Activity
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="collection collection-border">
                            <a class="collection-item" style="cursor: pointer;" (click)="onSaveActivity(eqp.id)" *ngFor="let eqp of equipment">{{eqp.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li *ngFor="let activity of activities"
                app-activity-detail 
                        [activity]="activity"
                        [sessionDate]="sessionDate"
                        [sessionId]="sessionId"
                        [sessionType]="sessionType"
                        (onDeleteActivity)="onDeleteActivity($event)">
        </li>
    </ul>

