<form [formGroup]="setForm"
    (ngSubmit)="onSetSubmit()">
    <th>
        {{set.order}}
    </th>
    <td>
       Weight:
    </td>
    <td>
      <input class="form-control"    
            id="weightId"    
            type="number"    
            placeholder="Weight" 
            formControlName="weight" />
    </td>
    <td>
        Reps:
    </td>
    <td>
      <input class="form-control"    
            id="repsId"    
            type="number"    
            placeholder="Reps"
            formControlName="reps"  />
    </td>
</form>