<div style="margin-top: 10px;" class="row">
        <button type="button" style="margin-right: 10px;" [routerLink]="['/lifts']" class="btn waves-effect waves-light btn-large">
            Equpiment
        </button>
        <button type="button" style="margin-right: 10px;" [routerLink]="['/sessions/plans']" class="btn waves-effect waves-light btn-large">
            Session Plans
        </button>
        <button type="button" [routerLink]="['/sessions/types']" class="btn waves-effect waves-light btn-large">
            Session Types
        </button>
    </div>