<div style="margin-top: 10px;" class="row">
        <button type="button" style="margin-right: 10px;" [routerLink]="['/lifts']" class="btn waves-effect waves-light btn-large">
                <i class="material-icons large">cloud</i>
                Equpiment
        </button>
        <button type="button" style="margin-right: 10px;" [routerLink]="['/sessions/plans']" class="btn waves-effect waves-light btn-large">
            Session Plans
        </button>
        <button type="button" [routerLink]="['/sessions/types']" class="btn waves-effect waves-light btn-large">
            Session Types
        </button>
    </div>


<div class="tile-container">
    <a>
        <div class="settings-main-tile settings-main-tile-color">
            <span class="settings-main-tiletitle">sessiont</span>
            <i class="material-icons large">account_box</i>
        </div>
    </a>
</div>

<div class="tile-container">
    <a>
        <div class="settings-main-tile settings-main-tile-color">
            <span class="settings-main-tiletitle">sessiont</span>
            <i class="material-icons large">account_box</i>
        </div>
    </a>
</div>

<div class="tile-container">
    <a>
        <div class="settings-main-tile settings-main-tile-color">
            <span class="settings-main-tiletitle">sessiont</span>
            <i class="material-icons large">account_box</i>
        </div>
    </a>
</div>