<div class="collapsible-header">
    {{activity.equipment.name }}
</div>
 <div class="collapsible-body">
   <div class="row">
    <app-set-list [sets]="activity.sets"
                        (onSaveRep)="onNewSet($event)">
    </app-set-list>
   </div>
   <div class="row">
        <button style="margin-right: 10px;" class="btn waves-effect waves-teal btn-small"
                            [disabled]="disableButtons"
                            (click)="onAddSet()">Add Set</button>
        <button style="margin-right: 10px;" class="btn waves-effect waves-teal btn-small"
                            [disabled]="disableButtons"
                            (click)="saveSet()">Completed</button>
        <button class="btn waves-effect waves-teal btn-small"
                            (click)="onCancel()">Delete</button>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-teal btn-small"
                [disabled]="disablePreviousSetBtn" (click)="onDisplayPreviousSets()">Previous Sets</button>
    </div>
    <div *ngIf="displayPreviousSets" class="row">
        <div class="col s12">
            <div class="card horizontal" *ngFor="let setGroup of previousSets">
                <div class="card-stacked">
                    <div class="card-content">
                        <label>{{formatDate(setGroup.sessionDate)}}</label>
                        <ul>
                            <li *ngFor="let set of setGroup.sets">
                                <div class="row">
                                    <div class="col s6">
                                        <label>Weight: <b>{{set.weight}}</b></label>
                                    </div>
                                    <div class="col s6">
                                        <label>Reps: <b>{{set.reps}}</b></label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>