<div class="collapsible-header">
    {{activity.equipment.name }}
</div>
 <div class="collapsible-body">
   <div class="row">
    <app-set-list [displayNewSet]="displayNewSet"
                        [sets]="activity.sets"
                        (onSaveRep)="onNewSet($event)">
    </app-set-list>
   </div>
   <div class="row">
        <button class="btn waves-effect waves-light btn-small"
                            [disabled]="disableButtons"
                            (click)="onAddSet()">Add Set</button>
        <button class="btn waves-effect waves-light btn-small"
                            [disabled]="disableButtons"
                            (click)="saveSet()">Save</button>
        <button class="btn waves-effect waves-light btn-small"
                            (click)="onCancel()">Delete</button>
    </div>
</div>